@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oevrpass:wght@500&family=Rubik+Puddles&display=swap');
header{
	background-color: #2C2C2C;

}
.box_header{
	display: flex;
}
.container{
	max-width: 1000px;
    margin: 0 auto;
}
.logo{
	font-family: 'Montserrat', sans-serif;
    color: #E4E4E4;
    font-size: 3vw;
    margin-right: auto;
    margin-left: 120px;
}
.menu{
	display: flex;
	list-style: none;
}
.menu_el{
	margin: 0 50px;
    color: #E4E4E4;
	font-family: 'Oevrpass', sans-serif;
}
.nav{
	margin: auto 0;
}
li > a{
	color: #E4E4E4;
	text-decoration: none;
}
section{
	padding: 50px 0;
}
.description_block_content{
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #E4E4E4;
	font-family: 'Oevrpass', sans-serif;
}
.description_block_btn{
	width: min-content;
	padding: 10px 15px;
	border-radius: 6px;
	font-weight: ;
background: linear-gradient(135deg, #37BFDD 0%, #E13BDB 100%);
box-shadow: 0px 2px 13px 0px rgba(0, 196, 240, 0.48);
}
.container_description_block{
	display: flex;
	justify-content: center;
	gap: 80px;
}
.img_description_block{
	height: 300px;
	object-fit: cover;
}
.description_block{
    background-color: #3E3E3E;	
}
.video{
	background-color: #2C2C2C;
}
.container_video{
	display: flex;
	flex-direction: column;
}
.video_title, .gallery_title, .rating > h2{
	text-align: center;
	color: #E4E4E4;
	font-size: 40px;
	font-family: 'Oevrpass', sans-serif;
	font-weight: 300;
	margin: 0;
	margin-bottom: 1em;
}
.frame_video{
	width: 90%;
    height: 300px;
	margin: 0 auto;
	max-width: 500px;
	padding: 0;
	border: solid 12px #414141;
}
.gallery{
	background-color: #3E3E3E;
}
.gallery-images{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
.gallery-images > img{
	width: 30%;

}
.rating{
	background-color: #2C2C2C;
}
.rating > .content{
	display: flex;
	gap: 50px;
	justify-content: center;
}
.rating_list{
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Oevrpass', sans-serif;
	color: #E4E4E4
}
.photo-block{
	width: 300px;
	height: 300px;
	flex-direction: column;
	justify-content: center;
	display: flex;
	position: relative;
}
.photo{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.rating-full{
	width: 100%;
    height: 10px;
    background-color: #5C4747;
}
.rating-users, .rating-my, .rating-critics{
    height: 100%;
	background-color: #DCCB2C;
}
.rating-users{
	width: 90%;
}
.rating-critics{
	width: 65%;
}
.rating-my{
	width: 95%;
}
.stars, .stars2, .stars3, .stars4{
	width: 38px;
	height: 38px;
    position: absolute;
}
.stars{
    top: 165px;
    left:-20px;
}
.stars2{
    top: 100px;
    left:-15px;
}
.stars3{
    top: 40px;
    left:10px;
}
.stars4{
    top: 1px;
    left:218px;
}
footer{
	background-color: #2C2C2C;
	padding: 50px 0;
	display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.logotype{
	font-family: 'Montserrat', sans-serif;
    color: #E4E4E4;
    display: flex;
    flex-direction: column;
}

@media(max-width: 400px){
	.container_description_block{
		flex-direction: column;
	}
	.nav{
		display: none;
	}
	.box_header{
		justify-content: center;
	}
	.logo{
		margin: 15px 0;
		font-size: 30px;
	}
	.img_description_block{
		width: 90%;
		margin: 0 auto;
	}
	.description_block_content{
		width: auto;
	}
	.content{
		display: flex;
  		flex-direction: column-reverse;
	}
	.container_description_block{
		gap: 16px;
	}
	.description_block_title{
		text-align: center;
	}
	.description_block_text{
		text-align: center;
		padding: 0 10px;
	}
	.description_block_btn{
		margin: 0 auto;
	}
	.photo-block{
		margin: 0 auto;
	}
	.rating_list{
		width: 80%;
		margin: 0 auto;
	}
	footer{
		gap: 15px;
		flex-direction: column;
	}
	.logotype{
		text-align: center;
	}
	.footer_img_block{
		display: flex;
		justify-content: center;
		gap: 10px;
	}
	.footer_img_block > img{
		width: 25px;
		height: 25px;
	}
}









